.card{
    display: flex;
    flex-direction: column;
    width: 320px;
    background: var(--main-color);
    border-radius: 5px;
    border: var(--font-color) solid 2px;
    color: var(--font-color);
    padding: 4px;
    margin: 4px;
    text-align: center;
}

.card-tittle{
    font-size: larger;
    width: 100%;
}

.card-img{
    width: 85%;
    height: 85%;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    align-self: center;
    border:  var(--font-color) solid 1px;
}

.card-text{
    padding: 0 12px 0 12px;
    

}

.card-btn{
    margin: 8px;
    display: flex;
    background-color: var(--deco-color-1);
    width: 40%;
    height: 32px;
    font-size: 18px;
    border: var(--border-color) solid 1px;
    border-radius: 7px;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
    align-self: flex-end;
}

.card-btn:hover{
    background-color: var(--deco-color-2);
}

.card-btn a{
    text-decoration: none;
    color: var(--border-color);
}