*{
    font-family: 'Lemonada', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #cad2c5;
    --font-color: #2f3e46;
    --border-color:  #8acfad;
    --deco-color-1: #354f52;
    --deco-color-2: #52796f;
    --gradient-color: linear-gradient(40deg, var(--deco-color-1) 0%,  var(--deco-color-2) 50%, var(--deco-color-1) 100%);
    --gradient-reverse-color: linear-gradient(40deg, var(--deco-color-1) 0%,  var(--deco-color-2) 20%, var(--deco-color-2) 80%, var(--deco-color-1) 100%);
}

body{
    color: var(--font-color);
    background-color: var(--main-color);
}

header{ 
    color: var(--border-color);
    background: var(--deco-color-1);
    background: var(--gradient-color);
    border-bottom: var(--border-color) solid 2px;
    
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.page-name.hide{
    opacity: 0;
    height: 0;
    
}

.head-logo{
    display: flex;
    height: 10vh;
    align-items: center;
    margin-right: 8px;
}

.head-logo img{
    height: 80%;
}

.head-logo-sm{
    display: none;
    height: 10vh;
    align-items: center;
    padding-left: 2%;
}
.head-logo-sm img{
    height: 80%;
}

.page-name{
    display: flex;
    height: 10vh;
    align-items: center;
    margin-left: 5%;
    transition: 0.25s;
}

.page-name a{
    text-decoration: none;
    color: var(--border-color);
}

nav{
    height: 10vh;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    
}


.nav-links li a{
    color: var(--border-color);
    text-decoration: none;
    font-size: 16px; 
}

main{
    padding-top: 20vh;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 786px){
    .page-name{
        display: none;
    }

    .head-logo-sm{
        display: flex;
    }

    .line{
        width: 24px;
        height: 4px;
        background: var(--deco-color-1);
        margin: 3px;
        border-radius: 8px;
        transition: all cubic-bezier(0.26, 0.1, 0.27, 1.15) 0.35s;
    }

    nav{
        position: relative;
    }

    main{
        padding-top: 10vh;
    }

    .hamburguer{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .circle{
        background: var(--border-color);
        border-radius: 500px;
        padding: 1.5vh;
    }


    .nav-links{
        position: fixed;
        background: var(--deco-color-1);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(10px at 90% -10%);
        -webkit-clip-path: circle(10px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open{
        clip-path: circle(1480px at 90% -10%);
        -webkit-clip-path: circle(1480px at 90% -10%);
        pointer-events: all;
    }

    .landing{
        flex-direction: column;
    }

    .nav-links li{
        opacity: 0;
    }

    .nav-links li a{
        font-size: 25px;
    }

    .nav-links li:nth-child(1){
        transition: all 0.8s ease 0.2s;
    }

    .nav-links li:nth-child(2){
        transition: all 0.8s ease 0.4s;
    }

    .nav-links li:nth-child(3){
        transition: all 0.8s ease 0.6s;
    }

    li.fade{
        opacity: 1;
    }
}






